body {
    background-color: aliceblue;
    margin: 0;
}

header {
    background-color: black;
    padding: 20px;
    grid-column: span 12;
}

header h1 {
    color: white;
    grid-column: span 12;
    text-align: center;
}

footer hr {
    width: 95%;
}

footer p {
    text-align: center;
}

.display {
    text-align: center;
    width: 500px;
    height: 500px;
    border: 5px solid black;
    background-repeat: no-repeat;
    line-height:500px;
    background-position: center;
    background-color: #3a6bf0;
    background-image: url('');
    color:#FFFFFF;
    background-size: 110%;
    margin-bottom:25px;
    font-size: 150%;
    margin: 0 auto;
    margin-bottom:25px;
    margin-top: 40px;
}

.grid img {
    grid-column: span 4;
    justify-items: center;
    justify-self: center;
    border: 5px solid black;
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}